@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFAF7;
  --foreground: #111111;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .headline {
    font-family: var(--font-serif);
  }
  
  .body {
    font-family: var(--font-sans);
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
